<style>
    .mi{
        text-align:center;
        padding-top:9%;
       
        background:#F6F6F6;
    }
    
    .con{
        text-align:left;
        padding:20px;
        
        background:white;
    }
</style>


<div class="mi">
    <h2>탐색</h2>
    <br>
    <br>
    <div class="con" style="position:relative;">
        <h4>메이커스</h4>
        <p>미래에셋 / 송도</p>
        <p>서울대</p>
        <p>172cm / 30살</p>
        <span>기독교</span>
        <div style="position:absolute;bottom:20px;right:20px;"><span style="font-size:12px;font-weight:bold;">#2다리</span></div>
        <div class="ui massive heart rating" style="position:absolute; right:30px; top:45%;" data-max-rating="1"></div>
    </div><br>
    <div class="con" style="position:relative;">
        <h4>호양</h4>
        <p>한국투자증권 / 송도</p>
        <p>연세대</p>
        <p>174cm / 34살</p>
        <span>불교</span>
        <div style="position:absolute;bottom:20px;right:20px;"><span style="font-size:12px;font-weight:bold;">#3다리</span></div>
        <div class="ui massive heart rating" style="position:absolute; right:30px; top:45%;" data-max-rating="1"></div>
    </div><br>
    <div class="con" style="position:relative;">
        <h4>꼬부기</h4>
        <p>송도중 / 송도</p>
        <p>교대</p>
        <p>180cm / 36살</p>
        <span>무교</span>
        <div style="position:absolute;bottom:20px;right:20px;"><span style="font-size:12px;font-weight:bold;">#2다리</span></div>
        <div class="ui massive heart rating" style="position:absolute; right:30px; top:45%;" data-max-rating="1"></div>
    </div><br>
    <div class="con" style="position:relative;">
        <h4>파이리</h4>
        <p>사람인 / 송도</p>
        <p>동국대</p>
        <p>172cm / 30살</p>
        <span>천주교</span>
        <div style="position:absolute;bottom:20px;right:20px;"><span style="font-size:12px;font-weight:bold;">#2다리</span></div>
        <div class="ui massive heart rating" style="position:absolute; right:30px; top:45%;" data-max-rating="1"></div>
    </div>
</div>

<script>
    $('.ui.rating')
  .rating()
;

$("h4").click(function(){
location.href="match2";

});

</script>