<style>
    .mi{
        text-align:center;
        padding-top:9%;
        height:80%;
    }
    
    .bi{
        height:100%;
    }
    #inp{
        bottom:0px;
        width:90%;
    }
    .contan{
        text-align:center;
        
    }
    .to{
        
        display:inline-block;
        text-align:left;
    }
    span{
        font-size:20px;
        font-weight:bold;
    }
     .ui.button{
        bottom:20%;
    }
    .co{
        height:70%;
    }
    
    i{
        width:50px;    
    }
    
    .con{
        height:100%;
        text-align:center;
    }
    footer{
        position:relative;
        height:10%;
    }
    .go{
      
    }
</style>

<form action="/main/signup_3">
<div class="mi">
    <h2>회원 정보 등록</h2>
    <br>
    <br>
        <label for="inp" class="inp">
          <input type="text" id="inp" style="opacity:3;" placeholder="아이디">
          <span class="border"></span>
        </label>
        <label for="inp" class="inp">
          <input type="text" id="inp" placeholder="닉네임">
          <span class="border"></span>
        </label>
        <label for="inp" class="inp">
          <input type="text" id="inp" placeholder="거주지역">
          <span class="border"></span>
        </label>
        <label for="inp" class="inp">
          <input type="text" id="inp" placeholder="근무지역">
          <span class="border"></span>
        </label>
        <label for="inp" class="inp">
          <input type="text" id="inp" placeholder="직무/직급">
          <span class="border"></span>
        </label>
        <label for="inp" class="inp">
          <input type="text" id="inp" placeholder="학력">
          <span class="border"></span>
        </label>
        <label for="inp" class="inp">
          <input type="text" id="inp" placeholder="키">
          <span class="border"></span>
        </label>
        <label for="inp" class="inp">
          <input type="text" id="inp" placeholder="종교">
          <span class="border"></span>
        </label>
</div>
<div class="con">
    <br>
    <br>
    <br>
    <button style="border-radius: 20px;width:70%;background:white;" class="ui button" onclick="location.href='/main/signup_3'"><span style="font-size:20px;font-weight:bold;">다음 작성하기</span><i class="angle right icon"></i></button><br><br>
</div>
</form>